.idea
.env
sitesMap.yaml
docker-compose.override.yml
after-install.sh
docker/db/*
!docker/db/mysql/my.cnf
!docker/db/redis/redis.conf
docker/supervisor/conf.d/*.conf
!docker/supervisor/conf.d/nginx.conf
!docker/supervisor/conf.d/php-fpm.conf
