#########################################
# Laravel Docker Development Environment
#########################################

#########################################
# User Configuration
#########################################
# User account details for container access
USER_NAME=docker
USER_PASSWORD=docker
USER_UID=1000
USER_GID=1000
ROOT_PASSWORD=root

#########################################
# MySQL Configuration
#########################################
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=laravel
MYSQL_USERNAME=docker
MYSQL_PASSWORD=docker
MYSQL_PORT=3306

#########################################
# Redis Configuration
#########################################
REDIS_ARGS=--appendonly yes
REDIS_PORT=6379

#########################################
# Directory Paths
#########################################
# Path to your application code on host machine
APP_DIR=${HOME}/Code
# Path where code will be mounted in containers
DESTINATION_DIR=/var/www
# Data persistence directories
REDIS_DATA_DIR=./docker/db/redis/data
MYSQL_DATA_DIR=./docker/db/mysql/data

#########################################
# PHP Configuration
#########################################
# Default PHP version for workspace container (Options: 7.4, 8.0, 8.1, 8.2)
DEFAULT_PHP=8.0

#########################################
# Timezone Configuration
#########################################
TZ=UTC