#########################################
# Laravel Docker Development Environment
# Configuration File v2.0
#########################################

#########################################
# User Configuration
#########################################
# User account details for container access
USER_NAME=docker
USER_GROUP=docker
USER_PASSWORD=docker
ROOT_PASSWORD=root
USER_UID=1000
USER_GID=1000

#########################################
# Services Configuration
#########################################
# Enable/disable optional services (true/false)
ENABLE_MYSQL=false
ENABLE_PHPMYADMIN=false
ENABLE_REDIS=false
ENABLE_MAILHOG=false

#########################################
# MySQL Configuration
#########################################
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=laravel
MYSQL_USERNAME=docker
MYSQL_PASSWORD=docker
MYSQL_PORT=3306
MYSQL_HOST=mysql

#########################################
# Redis Configuration
#########################################
REDIS_ARGS=--appendonly yes
REDIS_PORT=6379

#########################################
# Directory Paths
#########################################
# Path to your application code on host machine
# This is where your Laravel projects should be located
APP_DIR=${HOME}/Code

# Path where code will be mounted in containers
DESTINATION_DIR=/var/www

# Data persistence directories (relative to project root)
REDIS_DATA_DIR=./docker/db/redis/data
MYSQL_DATA_DIR=./docker/db/mysql/data

#########################################
# PHP Configuration
#########################################
# Default PHP version for workspace container
# Available versions: 7.0, 7.1, 7.2, 7.3, 7.4, 8.0, 8.1, 8.2, 8.3
DEFAULT_PHP=8.3

#########################################
# Timezone Configuration
#########################################
# Set your local timezone
TZ=UTC

#########################################
# Network Configuration
#########################################
# Docker network subnet (change if conflicts with your network)
NETWORK_SUBNET=172.19.0.0/16

#########################################
# Development Tools Configuration
#########################################
# PHPMyAdmin access
PHPMYADMIN_URL=phpmyadmin.local

# MailHog configuration for email testing
MAILHOG_SMTP_PORT=1025
MAILHOG_WEB_PORT=8025

# Workspace SSH access
WORKSPACE_SSH_PORT=2222
