[mysqld]
innodb_buffer_pool_size=2G # buffer pool size
innodb_flush_method=O_DIRECT # direct IO
tmp_table_size = 64M # temp table size
max_connections = 100 # max connections
max_heap_table_size = 64M # max heap table size

